---
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;
type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import RelativeDate from "@/components/RelativeDate.astro";

const { slug }: Params = Astro.params;
const { post }: Props = Astro.props;
const { Content } = await render(post);

import Paragraph from "@/components/blog/Paragraph.astro";
import Codeblock from "@/components/blog/Codeblock.astro";
import UnorderedList from "@/components/blog/UnorderedList.astro";
import OrderedList from "@/components/blog/OrderedList.astro";
import ListItem from "@/components/blog/ListItem.astro";
import Input from "@/components/blog/Input.astro";
const components = {
  p: Paragraph,
  pre: Codeblock,
  ul: UnorderedList,
  ol: OrderedList,
  li: ListItem,
  input: Input,
};
---

<BaseLayout title={post.data.title}>
  <Header />
  <main class="mx-auto w-full max-w-3xl font-mono mb-20">
    <article class="font-mono px-12">
      <header class="mb-12 text-center">
        <div class="block mb-4">
          &lt; <a class="hover:underline underline-offset-8" href="/blog"
            >back to posts</a>
        </div>
        <h2 class="mb-4 text-3xl lowercase">{post.data.title}</h2>
        <RelativeDate
          date={post.data.date}
          class="text-foreground-dim-light dark:text-foreground-dim-dark"
        />
      </header>
      <Content components={components} />
    </article>
  </main>
  <Footer />
</BaseLayout>
