---
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;
type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import RelativeDate from "@/components/RelativeDate.astro";

const { id } = Astro.params;
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.title}>
  <Header />
  <main>
    <article class="post">
      <hgroup class="pb-10">
        <h2>{post.data.title}</h2>
        <RelativeDate
          date={post.data.date}
          class="text-foreground-dim-light dark:text-foreground-dim-dark"
        />
        <Content />
      </hgroup>
    </article>
  </main>
</BaseLayout>
