---
import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import RelativeDate from "@/components/RelativeDate.astro";
import { getPosts } from "@/posts";

export async function getStaticPaths() {
  return (await getPosts()).map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { content } = post;
---

<BaseLayout title={post.title}>
  <Header />
  <main>
    <article class="post">
      <hgroup class="pb-10">
        <h2>{post.title}</h2>
        <RelativeDate
          date={post.date}
          class="text-foreground-dim-light dark:text-foreground-dim-dark"
        />
        <div set:html={content} />
      </hgroup>
    </article>
  </main>
</BaseLayout>
