---
import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import { getPosts } from "@/posts";

const posts = (await getPosts()).published();
---

<BaseLayout title="recent posts">
  <Header vertical />
  <main class="centered" >
  </main>
</BaseLayout>
