---
import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import { getPosts, type Post } from "@/blog";
import PostList from "@/components/PostList.astro";

const posts = (await getPosts()).published().sort().groupByMonth();
---

<BaseLayout title="Blog">
  <Header vertical />
  <main class="mx-auto w-full max-w-3xl">
    {
      posts.map(([month, posts]) => (
        <section class="mt-20 text-center font-mono">
          <h2 class="mb-8 text-3xl lowercase text-center">{month}</h2>
          <PostList posts={posts} />
        </section>
      ))
    }
  </main>
</BaseLayout>
