---
import RecentPosts from "@/components/RecentPosts.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="recent posts">
	<main>
		<RecentPosts />
	</main>
</BaseLayout>
