@import "tailwindcss";

@theme {
	--color-primary: #84c66f;

	--color-background-light: #ffffff;
	--color-foreground-light: #333333;
	--color-foreground-dim-light: #999999;

	--color-background-dark: #111111;
	--color-foreground-dark: #e0e0e0;
	--color-foreground-dim-dark: #999999;

	--color-code-background-light: #f0f0f0;
	--color-code-background-dark: #1d1d1d;

	--font-sans: "Lato", sans-serif;
	--font-serif: "Courier Prime", serif;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

	body {
		@apply h-dvh flex flex-col bg-background-light text-foreground-light dark:bg-background-dark dark:text-foreground-dark;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans font-bold lowercase;
	}

	p,
	ul,
	ol {
		@apply font-serif font-normal;
	}

	p {
		@apply mb-4;
	}

	a {
		@apply border-b border-b-primary pb-0.5 hover:text-primary;
	}

	a.no-style {
		@apply border-none hover:text-inherit;
	}
}

@layer components {
	.post {
		@apply w-full max-w-4xl text-left font-light leading-8;
	}

	.post p {
		@apply mb-8;
	}

	.post pre {
		@apply mb-10 overflow-x-auto rounded-xl px-6 py-4 text-sm;
	}

	.post pre.astro-code {
		background-color: var(--color-code-background-light) !important;
	}

	@media (prefers-color-scheme: dark) {
		.post pre.astro-code {
			background-color: var(--color-code-background-dark) !important;
		}
	}

	.post code {
		@apply text-wrap;
	}

	.post pre code {
		@apply text-nowrap;
	}

	.post ul {
		@apply ml-4 mb-8 mt-0 list-disc;
	}

	.post ul li > span {
		@apply pl-4;
	}

	.post ul.contains-task-list {
		@apply ml-0 mb-8 mt-0 list-none;
	}

	.post ul.contains-task-list li > span {
		@apply pl-4;
	}

	.post ul.contains-task-list ul {
		@apply ml-4 mb-0 mt-0 list-none;
	}

	.post ol {
		@apply ml-7 mb-8 mt-0 list-decimal;
	}

	.post ol li > span {
		@apply pl-2;
	}

	.task-list-item input[type="checkbox"] {
		@apply hidden;
	}

	.task-list-item {
		@apply relative;
	}

	.task-list-item::before {
		content: "";
		@apply mr-2 inline-block size-5 rounded-md border-2 border-foreground-light align-[-0.25rem] dark:border-foreground-dark;
	}

	.task-list-item:has(input[type="checkbox"]:checked)::before {
		@apply border-primary bg-primary;
	}

	.task-list-item:has(input[type="checkbox"]:checked)::after {
		content: "";
		@apply absolute left-[0.45rem] top-[0.6rem] h-2.5 w-1.5 rotate-45 border-b-2 border-r-2 border-background-light dark:border-background-dark;
	}
}
