---
import Header from "@/components/Header.astro";
import BaseLayout from "@/components/BaseLayout.astro";
import RandomErrorHaiku from "@/components/RandomErrorHaiku.astro";
---

<BaseLayout title="404 Not Found">
  <Header />
  <main>
    <section class="mt-30 font-mono">
      <h2 class="mb-4 text-3xl lowercase text-center">Page not found</h2>
      <p class="text-center mb-2">The page you are looking for doesn't exist.</p>
      <p class="text-center mb-16">Please enjoy this haiku:</p>
      <div class="text-center">
        <RandomErrorHaiku client:load class="inline-block"/>
      </div>
    </section>
  </main>
</BaseLayout>
