---
import Header from "@/components/Header.astro";
import BaseLayout from "@/components/BaseLayout.astro";

export interface Haiku {
  content: string;
  author: string;
  source?: string;
}

export const Haikus: Haiku[] = [
  {
    content: `The Web site you seek
Cannot be located, but
Countless more exist.`,
    author: "Unknown",
  },
  {
    content: `Chaos reigns within.
Reflect, repent, and reboot.
Order shall return.`,
    author: "Suzie Wagner",
  },
  {
    content: `Three things are certain:
Death, taxes and lost data.
Guess which has occurred.`,
    author: "Unknown",
  },
  {
    content: `You step in the stream,
But the water has moved on.
This page is not here.`,
    author: "Unknown",
  },
  {
    content: `Having been erased,
The document you're seeking
Must now be retyped.`,
    author: "Unknown",
  },
  {
    content: `Serious error.
All shortcuts have disappeared.
Screen. Mind. Both are blank....`,
    author: "Unknown",
  },
];
---

<BaseLayout title="404 Not Found">
  <Header />
  <main>
    <section class="mt-30 font-mono">
      <h2 class="mb-4 text-3xl lowercase text-center">Page not found</h2>
      <p class="text-center mb-2">
        The page you are looking for doesn't exist.
      </p>
      <p class="text-center mb-16">Please enjoy this haiku:</p>
      <div class="text-center">
        <article id="error-haiku" class="inline-block"></article>
      </div>
    </section>
  </main>
</BaseLayout>

<script is:inline define:vars={{ Haikus }}>
  const haiku = Haikus[Math.floor(Math.random() * Haikus.length)];
  const haikuElement = document.getElementById("error-haiku");

  const haikuContentElement = document.createElement("p");
  haikuContentElement.className =
    "mb-8 whitespace-pre-wrap text-left italic leading-8";
  haikuContentElement.textContent = haiku.content;
  haikuElement.appendChild(haikuContentElement);

  const haikuAuthor = document.createElement("p");
  haikuAuthor.className = "text-right";
  haikuAuthor.appendChild(document.createTextNode("-- "));
  if (haiku.source) {
    const haikuLink = document.createElement("a");
    haikuLink.target = "_blank";
    haikuLink.href = haiku.source;
    haikuLink.textContent = haiku.author;
    haikuAuthor.appendChild(haikuLink);
  } else {
    haikuAuthor.appendChild(document.createTextNode(haiku.author));
  }
  haikuElement.appendChild(haikuAuthor);
</script>
