---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="justify-around">
		<div class="text-lg">
			<p>Hi, I'm Tim.</p>
			<p>I live in Seattle, WA.</p>
			<p>
				I <a href="//github.com/timhugh" target="_blank">write software</a> and
				<a href="//instagram.com/timhugh" target="_blank">take photos</a>.
			</p>
		</div>
	</main>
</BaseLayout>
