---
import BaseLayout from "@/components/BaseLayout.astro";
import Header from "@/components/Header.astro";
import PostList from "@/components/PostList.astro";
import { getPosts } from "@/blog";

const recentPosts = (await getPosts()).published().sortByDate();

const introLinkProps = {
  rel: "external",
  tabindex: "-1",
  class: "underline underline-offset-6 hover:text-primary",
};
---

<BaseLayout>
  <Header vertical />
  <main class="mx-auto w-full max-w-3xl">
    <section class="mt-20 text-center font-mono">
      <p class="mb-4">Hi, I'm Tim.</p>
      <p class="mb-4">I live in Seattle, WA.</p>
      <p class="mb-4">
        I <a href="https://github.com/timhugh" {...introLinkProps}
          >write software</a
        > and{" "}
        <a href="https://instagram.com/timhugh" {...introLinkProps}
          >take photos</a
        >.
      </p>
    </section>
    {
      recentPosts.length > 0 && (
        <section class="mt-30 font-mono">
          <PostList class="mb-12" posts={recentPosts} />
          <div class="text-center">
            <a class="hover:underline" href="/blog">
              read more &gt;
            </a>
          </div>
        </section>
      )
    }
  </main>
</BaseLayout>
