---
import "@/global.css";

interface Props {
	title?: string;
	description?: string;
  children: any,
}

const { title = "Tim Heuett", description = "Tim Heuett's personal website" } = Astro.props;
const pageTitle = title === "Tim Heuett" ? title : `Tim Heuett | ${title}`;
---

<!doctype html>
<html lang="en" class="scrollbar-gutter-stable">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="apple-touch-icon" href="/apple-icon.png" />
		<title>{pageTitle}</title>
	</head>
  <body class="h-dvh
    bg-background-light text-foreground-light
    dark:bg-background-dark dark:text-foreground-dark">
		<slot />
	</body>
</html>
