---
import DateStamp from "@/components/DateStamp.astro";

interface Props {
	title: string;
	date: Date;
}

const { title, date } = Astro.props;
---

<article>
	<hgroup class="pb-10">
		<h1 class="font-serif text-5xl">{title}</h1>
		<DateStamp
			date={date}
			class="text-foreground-dim-light dark:text-foreground-dim-dark"
		/>
	</hgroup>
	<slot />
</article>
