---
import { SocialLinkType } from "@/links";
import SocialLink from "@/components/SocialLink.astro";

const props = Astro.props;
---

<header class:list={["pt-10 w-full mb-30", props.class]}>
  <div class="mx-auto w-full max-w-6xl">
    <h1 class="text-center mb-8">
      <a
        href="/"
        aria-label="home"
        class="text-4xl font-sans tracking-widest lowercase text-foreground-light dark:text-foreground-dark"
        >Tim Heuett</a
      >
    </h1>
    <ul class="flex flex-row gap-2 justify-center">
      <li><SocialLink linkType={SocialLinkType.Github} /></li>
      <li><SocialLink linkType={SocialLinkType.Linkedin} /></li>
      <li><SocialLink linkType={SocialLinkType.Instagram} /></li>
      <li><SocialLink linkType={SocialLinkType.Email} /></li>
    </ul>
  </div>
</header>
