---
interface Props {
	spacing?: "default" | "compact";
	class?: string;
}

const { spacing = "default", class: className } = Astro.props;
const spacingClass = spacing === "compact" ? "mt-4 mb-20" : "my-20";
---

<main
	class:list={[
		"mx-auto flex w-full max-w-7xl flex-1 flex-col items-center px-4 text-center font-light leading-10",
		spacingClass,
		className,
	]}
>
	<slot />
</main>
