---
import type { HTMLAttributes } from "astro/types";
import { type SocialLinkType, SocialLinks } from "@/links";

interface Props extends HTMLAttributes<"a"> {
  linkType: SocialLinkType;
}
const { linkType, ...props } = Astro.props as Props;
const link = SocialLinks[linkType];
const { icon: Icon } = link;
---

<a
  target="_blank"
  href={link.url}
  aria-label={link.label}
  class:list={[
    "block rounded-full p-1.5 bg-primary outline-offset-4",
    "hover:bg-foreground-light text-background-light",
    "dark:text-background-dark dark:hover:bg-foreground-dark",
    props.class,
  ]}
  {...props}
>
  <Icon />
</a>
