---
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<"input"> {
  className: string;
  children: any;
}
const props: Props = Astro.props;

const isCheckbox = props.type === "checkbox";
const isChecked = props.checked || false;
---

{
  isCheckbox ? (
    <span class="checkbox">
      <input type="checkbox" {...props} hidden />
      <span
        class:list={[
          "inline-block relative size-5 top-1 mr-2 border-2 rounded-md pl-0.5 pt-0.5",
          isChecked
            ? "bg-primary border-primary text-background-light dark:text-background-dark"
            : "border-foreground-light dark:border-foreground-dark",
        ]}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class:list={["h-3.5 w-3.5 block", isChecked ? "" : "hidden"]}
          viewBox="0 0 20 20"
          fill="currentColor"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </span>
  ) : (
    <input {...props} />
  )
}
