---
import Header from "@/components/Header.astro";
import "@/styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Tim Heuett",
	description = "Tim Heuett's personal website",
} = Astro.props;

const pageTitle = title === "Tim Heuett" ? title : `Tim Heuett | ${title}`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="apple-touch-icon" href="/apple-icon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Lato:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
